@import '@unocss/reset/tailwind.css';

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0D0D0D;
  font-family: "Ubuntu", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
  color: white;
}

#app {
  width: clamp(15rem, 100%, 90rem);
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.layout-enter-active,
.layout-leave-active ,
.page-enter-active,
.page-leave-active {
  transition: all 1s ease;
}

.layout-enter-from,
.layout-leave-to,
.page-enter-from,
.page-leave-to {
  opacity: 0;
}