@import '@unocss/reset/tailwind.css';

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f2f2f2;
  font-family: "Palanquin", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  min-width: 100%;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

}

.layout-enter-active,
.layout-leave-active ,
.page-enter-active,
.page-leave-active {
  transition: all 1s ease;
}

.layout-enter-from,
.layout-leave-to,
.page-enter-from,
.page-leave-to {
  opacity: 0;
}